.Iconos{
  background-color: rgb(44, 90, 177);
    display: flex;
    justify-content: space-between;
}
.cuadro{
    border: 1px solid #050505; /* Estilo de borde */
    background-color: rgb(155, 177, 226);
}
.texto{
  display: flex;
  justify-content: center;
}

.estilo-imagenes{
  width: 60px;
  border-radius: 50px;
}
.contenedor-imagenes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
.contenedor-imagenes img {
  width: calc(33.333% - 150px);
  margin-right: 10px;
  border-radius: 15px;
}

.contenedor-imagenes img:last-child {
  margin-right: 0;
}

  .cuadro1 {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #0e0d0d; /* Estilo de borde */
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  .cuadro1 img{
    border-radius: 15px;

  }

.Autor {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
}
.Autor img {
    max-width: 20%;
    height: auto;
    border-radius: 15px;

}
.Autor p{
  
}

.correo {
  background-color: rgb(26, 28, 147);
}

.correo p {
  color: #ffffff;
}


